<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/hacker.jpg" alt="cat profile">
<p>
Hey there! I’m Saurav Negi, a dedicated MERN Stack developer with a passion for crafting web applications that not only function flawlessly but also delight users. My journey in the tech world has been driven by curiosity and an unrelenting desire to learn and grow.

My Expertise
MongoDB: Mastering the art of NoSQL databases to ensure your data is stored efficiently and accessed swiftly.

Express.js: Building robust server-side applications with seamless routing and middleware capabilities.

React: Creating dynamic and interactive user interfaces that bring your visions to life.

Node.js: Leveraging the power of JavaScript on the server to build scalable and high-performance applications.

My Philosophy
I believe in the perfect blend of functionality and aesthetics. A great application should not only work efficiently but also provide an enjoyable user experience. This philosophy drives me to focus on both backend logic and frontend design, ensuring a well-rounded approach to development.

Why Work with Me?
Innovative Solutions: I approach problems with creativity, finding unique solutions that stand out.

Attention to Detail: Every line of code is crafted with precision to ensure reliability and performance.

User-Centric Design: I prioritize the end-user, creating interfaces that are intuitive and engaging.

Continuous Learning: The tech world evolves rapidly, and so do I. I stay updated with the latest trends and technologies to bring you the best solutions..</p>
  <%- include("partials/footer.ejs") %>
